body
{
    background-color: #ffffb3;
    margin: 0;
    padding: 0;
}
.dog
{
    
    background-color: aqua;
    height: 150px;
    width: 70px;
    position: absolute;
    top: 20%;
    left: 35%;
    border-radius: 50px 50px 50px 50px;
}
.dogbody
{
    background-color: aqua;
    height: 110px;
    width: 300px;
    position: relative;
    top: 135px;
    left: 3px;
    border-radius: 20px 25px 35px 45px;
}
.leg1, .leg2, .leg3, .leg4
{
    background-color: aqua;
    height: 50%;
    width: 15px;
    position: relative;
}
.leg1
{
    left: 25px;
    top: 120px;
}
.leg2
{
    left: 65px;
    top: 45px;
}
.leg3
{
    left: 271px;
    top: -17px;
}
.leg4
{
    left: 232px;
    top: -90px;
}
.tail
{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 100px solid aqua;
    position: relative;
    bottom: 325px;
    left: 295px;
    transform: rotate(40deg);
}
.ear1
{
    background-color: aqua;
    height: 40px;
    width: 30px;
    position: relative;
    left: -15px;
    bottom: 540px;
    border-radius: 1% 120% 1% 120%;
}
.ear2
{
    background-color: aqua;
    height: 40px;
    width: 30px;
    position: relative;
    left: 50px;
    bottom: 585px;
    border-radius: 120% 10% 120% 10%;    
}
.nose
{
    background-color: black;
    height: 10px;
    width: 15px;
    position: relative;
    right: -26px;
    bottom: 530px;
    border-radius: 50%;
}
.eye1
{
    background-color: black;
    height: 10px;
    width: 15px;
    position: relative;
    right: -2px;
    bottom: 570px;
    border-radius: 50%;
}
.eye2
{
    background-color: black;
    height: 10px;
    width: 15px;
    position: relative;
    right: -49px;
    bottom: 579px;
    border-radius: 50%; 
}
.mouth
{
    background-color: black;
    height: 20px;
    width: 30px;
    position: relative;
    right: -20px;
    bottom: 520px;
    border-radius: 50% 50%;
}

}





















